[submodule "ps4-payload-sdk"]
	path = ps4-payload-sdk
	url = https://github.com/GiantPluto/ps4-payload-sdk.git
[submodule "ps4-ksdk"]
	path = ps4-ksdk
	url = https://github.com/GiantPluto/ps4-ksdk.git
